@use '../utils/mixins';

.footer {
    background-image: url('@assets/images/footer.jpg');
    background-size: cover;

    &__content {
        height: 100%;

        @include mixins.flex(column, center, flex-end);
        gap: 0.2rem;

        font-size: var(--fs-small);
        color: var(--color-white);
    }
}
