@use '../utils/mixins';

.header {
    &-bg {
        background: linear-gradient(to right, #fdd801 40%, #051622 40%);
        @include mixins.respond-to(tablet) {
            background: var(--color-light);
        }
    }
}

.nav {
    padding: 1rem var(--padding);

    @include mixins.respond-to(desktop) {
        padding: 1rem var(--padding-d);
    }

    @include mixins.respond-to(laptop) {
        padding: 1rem var(--padding-l);
    }

    @include mixins.respond-to(tablet) {
        @include mixins.flex(column, flex-start, flex-end);
        height: 3em;
    }

    @include mixins.respond-to(mobile) {
        padding: 1rem var(--padding-m);
    }
    .nav__link {
        transition: var(--transition);
        border-bottom: 2px solid transparent;

        &:hover {
            border-bottom: 2px solid var(--color-light);
        }
    }

    &__list {
        @include mixins.flex(null, flex-end, center);
        @include mixins.h3();
        font-size: var(--fs-nav);
        font-weight: normal;
        line-height: 1.6em;
        color: var(--color-white);
        text-align: center;

        @include mixins.respond-to(laptop) {
            gap: 0.5rem;
        }
        @include mixins.respond-to(tablet) {
            transform: scaleY(0);
            position: fixed;
            top: 0;
            margin: 0;
            left: 0;
            height: 100dvh;
            width: 100vw;
            z-index: 10;
            padding: 0 var(--padding-l);
            @include mixins.flex(column, center, flex-start);
            text-align: left;
            background-color: var(--color-dark);
            transition: var(--transition);
            transform-origin: top;

            li {
                width: 100%;
                padding-bottom: 0.5rem;
                border-bottom: 2px solid var(--color-white);
            }

            .nav__link {
                width: 100%;
                font-size: var(--fs-medium);
                font-weight: var(--ff-title);
                font-weight: bold;
                color: var(--color-white);
            }
        }
    }
}

#menu__toggle {
    opacity: 0;
    position: absolute;
    left: -1000px;
}

.menu__btn {
    @include mixins.flex(column, space-between, center);
    gap: 0.5rem;
    position: absolute;
    right: 1rem;
    top: 1rem;
    width: 3rem;
    height: 3rem;
    background-color: var(--color-dark);
    z-index: 100;
    border: 2px solid var(--color-white);
    padding: 0.5rem;

    div {
        background-color: var(--color-white);
        height: 3px;
        width: 90%;
    }
}

#menu__toggle:checked ~ .menu__btn {
    left: auto;
}

#menu__toggle:checked ~ .menu__btn > div:nth-child(2) {
    transform: rotate(45deg);
}
#menu__toggle:checked ~ .menu__btn > div:first-child {
    visibility: hidden;
}
#menu__toggle:checked ~ .menu__btn > div:last-child {
    transform: rotate(-45deg) translateY(-0.5rem) translateX(0.5rem);
}
#menu__toggle:checked ~ .nav__list {
    transform: scaleY(1);
}
