@use '../utils/mixins';

.header {
    &-bg {
        background: linear-gradient(to right, #fdd801 40%, #051622 40%);
        @include mixins.respond-to(tablet) {
            background: var(--color-accent);
        }
    }

    @include mixins.flex(null, space-between, center);
    padding: 1rem var(--padding);
    color: var(--color-dark);
    @include mixins.h3();

    @include mixins.respond-to(desktop) {
        padding: 1rem var(--padding-d);
    }

    @include mixins.respond-to(laptop) {
        padding: 1rem var(--padding-l);
    }

    @include mixins.respond-to(tablet) {
        @include mixins.flex(column, flex-start, flex-end);
        height: 3em;
    }

    &__contacts {
        @include mixins.flex(null, space-between, center);
        font-family: var(--ff-text);
        font-weight: bold;
        font-size: var(--fs-medium);

        @include mixins.respond-to(laptop) {
            gap: 0.5rem;
        }
    }

    &__logo {
        width: 3rem;

        @include mixins.respond-to(laptop) {
            width: 2rem;
        }

        @include mixins.respond-to(tablet) {
            display: none;
        }
    }
}

.nav {
    flex: 0 50%;

    @include mixins.respond-to(desktop) {
        flex: 0 60%;
    }

    &__list {
        @include mixins.flex(null, space-between, center);
        font-size: var(--fs-nav);
        font-weight: normal;
        line-height: 1.6em;
        color: var(--color-white);
        text-align: center;

        @include mixins.respond-to(laptop) {
            gap: 0.5rem;
        }
        @include mixins.respond-to(tablet) {
            visibility: hidden;
            position: fixed;
            top: 0;
            left: 0;
            height: 100dvh;
            width: 100vw;
            z-index: 10;
            @include mixins.flex(column, center, flex-start);
            text-align: left;
            background-color: var(--color-accent);

            .nav__link {
                @include mixins.h2();
                font-weight: bold;
                color: var(--color-dark);
            }
        }
    }
}

#menu__toggle {
    opacity: 0;
    position: absolute;
    left: -1000px;
}

.menu__btn {
    @include mixins.flex(column, space-between, center);
    gap: 0.5rem;
    position: absolute;
    left: 1rem;
    top: 1rem;
    width: 4rem;
    height: 4rem;
    background-color: var(--color-dark);
    z-index: 100;
    border-radius: 50%;
    padding: 1.2rem 0.8rem;

    div {
        background-color: var(--color-white);
        height: 4px;
        width: 90%;
        border-radius: 2px;
    }
}

#menu__toggle:checked ~ .menu__btn {
    left: auto;
    right: 1rem;
}

#menu__toggle:checked ~ .menu__btn > div:nth-child(2) {
    transform: rotate(45deg);
}
#menu__toggle:checked ~ .menu__btn > div:first-child {
    visibility: hidden;
}
#menu__toggle:checked ~ .menu__btn > div:last-child {
    transform: rotate(-45deg) translateY(-0.5rem) translateX(0.5rem);
}
#menu__toggle:checked ~ .nav__list {
    visibility: visible;
}
