:root {
    //Colors
    --color-white: #ffffff;
    --color-accent: #fdd801;
    --color-dark: #051622;
    --color-error: #d20b0b;
    --color-success: #03bb13;
    --color-light: #d4d4cf;

    //Fonts
    --ff-title: 'Ubuntu', sans-serif;
    --ff-text: 'OpenSans', sans-serif;
    --ff-list: 'PlayfairDisplay', serif;

    --fs-big: clamp(2.5rem, 4.5vw, 6rem);
    --fs-medium-big: clamp(2rem, 3vw, 3.75rem);
    --fs-medium: clamp(1.5rem, 1.8vw, 3rem);
    --fs-medium-small: clamp(1rem, 1.3vw, 1.7rem);
    --fs-nav: clamp(0.9rem, 1.3vw, 1.7rem);
    --fs-list: clamp(1.05rem, 2.2vw, 1.2rem);
    --fs-small: clamp(0.8rem, 1vw, 1rem);
    --fs-smallest: clamp(0.5rem, 0.7vw, 1rem);

    --padding: 5rem;
    --padding-d: 4rem;
    --padding-l: 2rem;
    --padding-m: 1.5rem;

    --margin: 2rem;
    --gap: 2rem;
    --gap-t: 0.5rem;

    --border-radius: 0.2rem;

    --transition: ease-in-out 0.4s;
    --transition-min: ease-in-out 0.2s;
}
