@use '../utils/mixins';

.form__button {
    background-color: #e18339;
    border: 2px solid #e18339;
    padding: 0.7rem 2rem;
    font-size: var(--fs-small);
    cursor: pointer;
    color: var(--color-white);
    min-width: 12rem;
    min-height: 3.2rem;
    transition: var(--transition);

    &:disabled {
        opacity: 80%;
    }

    @include mixins.respond-to(mobile) {
        width: 100%;
    }

    @media screen and (hover: hover) {
        &:hover {
            background-color: #f86e05;
            border-color: transparent;
        }
    }

    @media screen and (hover: none) {
        &:active {
            background-color: #f86e05;
            border-color: transparent;
        }
    }
}
