@font-face {
    font-family: 'OpenSans-Regular';
    src: url('@assets/fonts/OpenSans-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'OpenSans-Bold';
    src: url('@assets/fonts/OpenSans-SemiBold.ttf') format('truetype');
}

@font-face {
    font-family: 'Ubuntu-Regular';
    src: url('@assets/fonts/Ubuntu-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Ubuntu-Bold';
    src: url('@assets/fonts/Ubuntu-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'PlayfairDisplay';
    src: url('@assets/fonts/PlayfairDisplay-Regular.ttf') format('truetype');
}
