

@font-face {
    font-family: 'Open Sans';
    src: url('@assets/fonts/OpenSans-Regular.woff2') format('woff2'),
        url('@assets/fonts/OpenSans-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Open Sans';
    src: url('@assets/fonts/OpenSans-SemiBold.woff2') format('woff2'),
        url('@assets/fonts/OpenSans-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Playfair Display';
    src: url('@assets/fonts/PlayfairDisplay-Regular.woff2') format('woff2'),
        url('@assets/fonts/PlayfairDisplay-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Ubuntu';
    src: url('@assets/fonts/Ubuntu-Bold.woff2') format('woff2'),
        url('@assets/fonts/Ubuntu-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Ubuntu';
    src: url('@assets/fonts/Ubuntu-Regular.woff2') format('woff2'),
        url('@assets/fonts/Ubuntu-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

